.address {
	font-family: var(--font-family2);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	font-style: normal;
	color: var(--brand-color3);
	padding-top: 20px;
	margin: 0;
}

.company-details {
	padding-bottom: 60px;
	margin: 0;
}
