.contact-us {
	display: none;

	@media screen and (min-width: 768px) {
		padding: 0;
		display: flex;
		flex-direction: column;
		list-style: none;
		justify-content: start;
	}

	@media screen and (min-width: 1200px) {
		flex-direction: row;
	}
}

.contact-us-footer {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.phone__link {
	color: var(--brand-color6);
	fill: var(--brand-color6);
	text-decoration: none;
	font-family: var(--font-family2);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	transition: var(--transition);
	position: relative;

	&:hover {
		color: var(--brand-color1);
	}
	& svg {
		transition: var(--transition);
	}
	&:hover svg {
		fill: var(--brand-color1);
	}
}

.mail__link {
	font-family: var(--font-family2);
	font-size: 14px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--brand-color6);
	fill: var(--brand-color6);
	text-decoration: none;
	transition: var(--transition);
	position: relative;

	&:hover {
		color: var(--brand-color1);
	}
	& svg {
		transition: var();
	}

	&:hover svg {
		fill: var(--brand-color1);
	}
}

.mail-footer__link,
.phone-footer__link {
	font-size: var(--font-family2);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	font-style: normal;
	transition: var(--transition);
}
.icon-smartphone {
	transition: var(--transition);
	position: absolute;
	top: 0px;
	right: 112px;
}
.icon-envelope {
	transition: var(--transition);
	position: absolute;
	top: 2px;
	right: 142px;
}

.mail {
	@media screen and (min-width: 768px) {
		margin-right: 0px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: 50px;
	}
}

.phone {
	@media screen and (min-width: 768px) {
		padding-left: 0px;
	}
	@media screen and (min-width: 1200px) {
		margin-left: 0px;
	}
}
