.customers__logo-icon {
	fill: var(--brand-color8);
	border: 1px solid var(--brand-color8); /* dodać do var */
	border-radius: 4px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover {
		border-color: var(--brand-color1);
	}
}

.customers {
	display: flex;
	list-style: none;
	gap: 30px;
	margin-top: 50px;
	margin-bottom: 0;
	padding-left: 0;
}

.customers__link:hover .customers__logo-icon {
	fill: var(--brand-color1);
}
