.newsletter__icon-send {
	position: absolute;
	top: 13px;
	right: 28px;
	@media screen and (max-width: 1199px) {
		display: none;
	}
}

.newsletter__icon-send-mobile {
	position: absolute;
	top: 85px;
	right: 152px;
	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.newsletter__form {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;

	& input:focus {
		outline: 0;
	}
	@media screen and (min-width: 1200px) {
		flex-direction: row;
	}
}

.newsletter__input {
	width: 450px;
	color: var(--brand-color3);
	background: transparent;
	padding-block: 14px;
	padding-left: 16px;
	padding-right: 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	&:hover {
		border-color: var(--brand-color1);
	}
	& ::placeholder {
		font-family: var(--font-family2);
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
	}
	@media screen and (min-width: 1200px) {
		width: 358px;
		margin-right: 12px;
	}
}

.newsletter {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: 1200px) {
		flex-direction: column;
		margin-left: 78px;
		padding-top: 12px;
	}
	@media screen and (max-width: 1199px) {
		align-items: center;
	}
}

.newsletter__signup {
	font-family: var(--font-family2);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	padding-bottom: 20px;
}
