.our-activity {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style: none;
	gap: 30px;
	margin-top: 50px;
	margin-bottom: 0;
	padding-left: 0;
}
.our-activity__frame {
	display: flex;
	flex-direction: column;
	position: relative;
}

.our-activity__textframe {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: rgba(47, 48, 58, 0.8);
	position: absolute;
	bottom: 0px;
}
.our-activity__photo {
	display: block;
}
.our-activity__text {
	font-family: var(--font-family2);
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
	line-height: 1, 17;
	color: var(--brand-color3);
	text-align: center;
	padding-block: 27px;
}

.mobile-tablet-hidden {
	@media screen and (max-width: 1199px) {
		display: none;
	}
}
