.our-team__specialist-name {
	font-family: var(--font-family2);
	font-weight: 500;
	line-height: 1.19;
	letter-spacing: 0.03em;
	font-size: 16px;
	color: var(--brand-color5);
	padding-top: 30px;
	margin: 0;
}

.our-team__specialist-position {
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--brand-color6);
	margin: 0;
	padding-top: 10px;
	padding-bottom: 16px;
}
.our-team__frame {
	border-style: solid;
	background-color: var(--brand-color3);
	border-width: 0;
	text-align: center;
	border-color: var(--brand-color3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.our-team__list {
	display: flex;
	flex-direction: column;
	list-style: none;
	align-items: center;
	padding-top: 50px;
	padding-left: 0;
	gap: 30px;
	margin-top: 0;
	margin-bottom: 0;
	@media screen and (min-width: 768px) {
		flex-wrap: wrap;
		flex-direction: row;
		/* flex-basis: calc((100% - 30px)); */
	}
}

.our-team {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding-left: 0;
	padding-right: 0; */
}
.our-team__social-links {
	margin-bottom: 24px;

	@media screen and (min-width: 768px) {
		margin-bottom: 24px;
		margin-left: 74px;
		margin-right: 74px;
	}
	@media screen and (min-width: 1200px) {
		margin-bottom: 30px;
		margin-left: 32px;
		margin-right: 32px;
	}
}
