.social-links {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 10px;
}
.social-links__icon .social-icon {
	border-radius: 50%;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon:hover .social-icon {
	fill: var(--brand-color3);
	background-color: var(--brand-color1);
}

.social-links__icon:hover .social-icon-footer {
	fill: var(--brand-color3);
	background-color: var(--brand-color1);
}

.social-icon {
	fill: var(--brand-color8);
}
