.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section1 {
	background-color: rgba(245, 244, 250, 1);
	padding-top: 94px;
	padding-bottom: 94px;
}
.section2 {
	padding-top: 94px;
}

.section3 {
	padding-bottom: 94px;
}
