:root {
	--brand-color1: #2196f3;
	--brand-color2: #000000;
	--brand-color3: #ffffff;
	--brand-color4: #2f303a;
	--brand-color5: #212121;
	--brand-color6: #757575;
	--brand-color7: #f5f4fa;
	--brand-color8: #afb1b8;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--font-family1: "Raleway";
	--font-family2: "Roboto";
}
$m: 480px;
$t: 768px;
$d: 1200px;
